body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon {
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon i {
  font-size: 1.5em;
}

.sidebar-icon p {
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

#main {
  width: 100%;
}

#topbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#yt-logo {
  height: 50%;
}

#search-form {
  display: flex;
  height: 50%;
}

#search-btn {
  padding: 0 0.6em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

#microphone {
  font-size: 1.7em;
  margin: 0 0.5em;
}

#topbar-icons {
  display: flex;
}

.topbar-icon i {
  font-size: 1.5em;
  padding: 0 0.3em;
}

#content {
  height: 100%;
  margin-left: 50px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sub-content {
  display: flex;
  align-items: center;
}

.epi-video {
  padding: 10px;
  margin: 10px;
}

.video-display {
  width: 500px;
  border-radius: 10px;
}

.epi-logo {
  margin: 5px 2px;
  justify-content: flex-start;
}

.elogo {
  width: 60px;
  padding-right: 20px;
}

.text h4 {
  margin-bottom: 3px;
}

.text p {
  margin-top: 3px;
  opacity: 0.7;
}
